h1 {
  text-align: center;
}

.container {
  text-align: center;
 
  background-image: linear-gradient(to bottom right,orange,rgb(85, 218, 252),rgba(16, 5, 101, 0.937));
  padding: 50px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
img{
  background: none;
  width:50px;
  position: absolute;
  top: 20%;
}
input {
  padding: 10px;
  font-size: large;
  margin-top: 10px;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
}
